.thumbnail {
	height: 90vh;
	object-fit: cover;
	width: 100%;
	overflow: hidden;
	z-index: -1;
	/* transition: all 1s ease; */
}

.overlay {
	position: absolute;
	top: 0;
	width: 50%;
	height: 94vh;
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.6) 0%,
		rgba(0, 0, 0, 0.75) 100%
	);
	z-index: 1;
}

.title {
	position: fixed;
	width: 30%;
	margin-left: 10%;
	height: auto;
	line-height: 2.25rem;
	top: 40%;
	text-align: center;
	/* background-color: red; */
	/* transform: translate(-50%, -50%); */
	color: #fff;
	font-size: 1.5rem;
	font-weight: 600;
	/* text-transform: uppercase; */
	letter-spacing: 0.2rem;

	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	z-index: 2;
	/* transition: all 0.3s ease; */
	height: 0px;
}

.has-text {
	font-size: 1rem;
	font-weight: 600;
	/* transition: all 1s ease; */
}

.viewCount {
	margin-top: 20px;
	font-size: 3rem;
	font-weight: 700;
	color: yellow;
	/* transition: all 0.3s ease; */
}

.option {
	width: 60%;
	margin-top: 20px;
	border-radius: 50px;
	background: transparent;
	border: 2px solid #fff;
	transition: all 0.3s ease;
}

.option:hover {
	background: #fff;
	color: #000;
}
